*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
    position: relative;
    background: url('../img/sprite.png');
}

.squre {
    width: 60px;
    height: 60px;
    border: 1px solid #f6f9f996;
    /* background: url('../img/sprite.png') no-repeat; */
    cursor: pointer;
}

.sneck {
    width: 60px;
    height: 60px;
    background: url('../img/banny.png');
}

.head-snake {
    width: 60px;
    height: 60px;
    transform: rotate(90deg);
    background: url('../img/snake-head.png');
}

.body-snake {
    width: 60px;
    height: 60px;
    transform: rotate(90deg);
    background: url('../img/body.png');
    /* background: #22ad38; */
}

.tail {
    width: 60px;
    height: 60px;
    background: url('../img/tail.png');
    transform: rotate(90deg);
    /* background: #22ad38; */
}